//map at .specs

.map-markers {
	border:5px solid #fff;
	box-shadow: 1px 1px 3px #888888;
}
.spec-marker {
	width:auto;
	padding:1rem;
	h2 {
		// font-size:2.8rem;
		margin:0px;
		color:$spectafy-blue;
		margin-bottom:2rem;
	}
	p.youcreated {
		width:100%;
		margin-right:0%;
	}
	blockquote {
		display:inline-block;
		vertical-align:top;
		width:48%;
	}
}
#map-canvas {
	height: 75rem;
	width: 100%;
	border-top:1px solid $borders;
}

// app at /app 
.map_app {
	// height:65rem;
	clear:both;
	.search_app {
		width:40%;
		margin:0 auto;
		margin-top:2.5rem;
		margin-bottom:2.5rem;
		z-index:999;
		input {
			font-size:1.8rem;
			font-family:$primary-sans;
			height:auto;
			background-image:url(/media/search_icon.svg);
		    background-repeat: no-repeat;
		    padding-left:4rem;
		    background-position:14px center;
		}
	}
}