nav
.nav-wrapper{
	@include inner-content;
	text-align:center;
	margin-top:2%;
	.nav_left{
		width:29%;
		display:inline-block;
		vertical-align:top;
		position:absolute;
		z-index:500;
		left:10%;
		&:hover ul.mainnav {
			display:list-item;
		}
	}
	.nav_right {
		width:29%;
		display:inline-block;
		vertical-align:top;
		position:absolute;
		z-index:500;
		right:10%;
		&:hover ul.mainnav {
			display:list-item;
		}
	}
	ul.mainnav {
		background-color:$background-color;
		border:2px solid #fff;
		position:relative;
		border-bottom-left-radius:6px;
		border-bottom-right-radius:6px;
		width:50%;
		left:27%;
		border-top:none;
		margin-top:0px;
		padding-left:0px;
		padding-top:5%;
		display:none;
		li {
			list-style-type:none;
			margin-bottom:10px;
			padding:2%;
			a {
				text-transform:uppercase;
				font-size:1.2rem;
				color:#7A7E66;
				font-family:$sans-serif;
				letter-spacing:1px;
				&:hover {
					color:$greenrmi-hover;
				}
			}
		}
	}
	.title {
		width:40%;
		display:inline-block;
		vertical-align:top;
	}
}