<footer>
	<div class="footer_contents">
		<img src="images/footer-bg.jpg">
		<ul class="foot_nav">
			<li><a href="/">Home</a></li>
			|
			<li><a href="#">Search</a></li>
			|
			<li><a href="#">Site map</a></li>
			|
			<li><a href="#">Contact</a></li>
		</ul>
		<p><b>All contents &copy; 2000-<script language="javascript" type="text/javascript">
			var today = new Date()
			var year = today.getFullYear()
			document.write(year)
			</script></b> by the Regents of the University of California
		</p>
	</div>
</footer>