<section class="topheader-bg">
  <div class="topheader">
    <div class="topheadleft">
      <a href="http://caes.ucdavis.edu"><img src="/images/college_logo.svg"></a>
    </div>
    <div class="topheadright">
      <a href="http://rmi.ucdavis.edu"><img src="/images/department_logo.svg"></a>
    </div>
  </div>
</section>
<nav>
	<section class="nav-wrapper">
		<div class="nav_left">
			<h5><a class="a_inherit" href="/content/dept/rmi.html"><span class="italicberk">about the</span><br/> DEPARTMENTS</a></h5>
			<ul class="mainnav">
				<li><a href="/content/dept/fst.html">Food Science and Technology</a></li>
				<li><a href="/content/dept/ve.html">Viticulture and Enology</a></li>
				<li><a href="/content/dept/rmi.html">Robert Mondavi Institute</a></li>
				<li><a href="/content/dept/caes.html">College of Agricultural and Environmental Sciences</a></li>
			</ul>
		</div>
		
		<div class="title"><h1><a class="a_inherit" href="/">WINERY, BREWERY, AND <br />FOOD SCIENCE FACILITIES</a></h1></div>
		<div class="nav_right">
			<h5><span class="italicberk">about the</span><br/> BUILDING</h3>
			<ul class="mainnav">
				<li><a href="#">Building Tour</a></li>
				<li><a href="/content/bldg/leed.html">LEED Platinum</a></li>
				<li><a href="/content/bldg/research.html">Sustainability Research</a></li>
				<li><a href="/content/bldg/industry.html">Industry Collaboration</a></li>
				<li><a href="/content/bldg/green-features.html">how it works</a></li>
				<li><a href="/content/bldg/brewery.html">The brewery</a></li>
				<li><a href="#">The Winery</a></li>
				<li><a href="#">The vineyard</a></li>
				<li><a href="#">Food Science lab</a></li>
				<li><a href="#">Building layout</a></li>
				<li><a href="#">giving</a></li>
			</ul>
		</div>
	</section>
</nav>
