<section class="topheader-bg">
  <div class="topheader">
    <div class="topheadleft">
      <img src="images/college_logo.svg">
    </div>
    <div class="topheadright">
      <img src="images/department_logo.svg">
    </div>
  </div>
</section>
<nav>
	<section class="nav-wrapper">
		<ul class="departments">
			<h5><span class="italicberk">about the</span><br/> DEPARTMENTS</h3>
			<li>Food Science and Technology</li>
			<li>Viticulture and Enology</li>
			<li>Robert Mondavi Institute</li>
			<li>College of Agricultural and Environmental Sciences</li>
		</ul>
		<div class="title"><h1>WINERY, BREWERY, AND <br />FOOD SCIENCE FACILITIES</h1></div>
		<ul class="building">
			<h5><span class="italicberk">about the</span><br/> BUILDING</h3>
			<li>Building Tour</li>
			<li>LEED Platinum</li>
			<li>Sustainability Research</li>
			<li>Industry Collaboration</li>
			<li>how it works</li>
			<li>The brewery</li>
			<li>The Winery</li>
			<li>The vineyard</li>
			<li>Food Science lab</li>
			<li>Building layout</li>
			<li>giving</li>
		</ul>
	</section>
</nav>
