<section class="topheader-bg">
  <div class="topheader">
    <div class="topheadleft">
      <a href="http://caes.ucdavis.edu"><img src="/images/college_logo.svg"></a>
    </div>
    <div class="topheadright">
    	<form class="search">
			<input type="text" class="st-default-search-input">
    	</form>
      	<div class="rmilink">
      		<a href="http://rmi.ucdavis.edu"><img src="/images/department_logo.svg"></a>
      	</div>
      
    </div>
  </div>
</section>
<nav>
	<section class="nav-wrapper">
		<div class="nav_left">
			<h5><a class="a_inherit" href="/content/dept/rmi"><span class="italicberk">about the</span><br/> DEPARTMENTS</a></h5>
			<ul class="mainnav">
				<li><a href="/content/dept/fst">Food Science and Technology</a></li>
				<li><a href="/content/dept/ve">Viticulture and Enology</a></li>
				<li><a href="/content/dept/rmi">Robert Mondavi Institute</a></li>
				<li><a href="/content/dept/caes">College of Agricultural and Environmental Sciences</a></li>
			</ul>
		</div>
		
		<div class="title"><h1><a class="a_inherit" href="/">WINERY, BREWERY, AND <br />FOOD SCIENCE FACILITIES</a></h1></div>
		<div class="nav_right">
			<h5><span class="italicberk">about the</span><br/> BUILDING</h3>
			<ul class="mainnav">
				<li><a href="/content/bldg/videos">Building Tour</a></li>
				<li><a href="/content/bldg/leed">LEED Platinum</a></li>
				<li><a href="/content/bldg/research">Sustainability Research</a></li>
				<li><a href="/content/bldg/industry">Industry Collaboration</a></li>
				<li><a href="/content/bldg/green-features">how it works</a></li>
				<li><a href="/content/bldg/brewery">The brewery</a></li>
				<li><a href="/content/bldg/winery">The Winery</a></li>
				<li><a href="/content/bldg/vineyard">The vineyard</a></li>
				<li><a href="/content/bldg/fsl">Food Science lab</a></li>
				<li><a href="/content/bldg/building-layout">Building layout</a></li>
				<li><a href="/content/bldg/giving">giving</a></li>
			</ul>
		</div>
	</section>
</nav>
