<a href="#energy" class="btn">Jump to Energy</a>
<a href="#environment" class="btn">Jump to Environment</a>
<a href="#water" class="btn">Jump to Water</a>
<hr>

<a name="energy"></a>
<h2>Energy</h2>
  <ul id="myTabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Composite" aria-controls="Composite" role="tab" data-toggle="tab">Composite</a></li>
    <li role="presentation"><a href="#Solar" aria-controls="Solar" role="tab" data-toggle="tab">Solar</a></li>
    <li role="presentation"><a href="#CO2" aria-controls="CO2" role="tab" data-toggle="tab">CO2</a></li>
    <li role="presentation"><a href="#Insulation" aria-controls="Insulation" role="tab" data-toggle="tab">Insulation</a></li>
    <li role="presentation"><a href="#Metering" aria-controls="Metering" role="tab" data-toggle="tab">Metering</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Composite">
		<img src="/images/greenfeatures/Energy_comp.jpg" alt="Composite energy at greenrmi">
    </div>
    <div role="tabpanel" class="tab-pane" id="Solar">
    	<img src="/images/greenfeatures/Energy_1.jpg" alt="Solar energy at greenrmi">
    </div>
    <div role="tabpanel" class="tab-pane" id="CO2">
    	<img src="/images/greenfeatures/Energy_2.jpg" alt="CO2 energy at greenrmi">
    </div>
    <div role="tabpanel" class="tab-pane" id="Insulation">
    	<img src="/images/greenfeatures/Energy_3.jpg" alt="Insultation energy at greenrmi">
    </div>
    <div role="tabpanel" class="tab-pane" id="Metering">
    	<img src="/images/greenfeatures/Energy_4.jpg" alt="Metering energy at greenrmi">
    </div>
  </div>
<a name="environment"></a>
<h2>Environment</h2>
  <ul id="myTabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Composite_enviro" aria-controls="Composite_enviro" role="tab" data-toggle="tab">Composite</a></li>
    <li role="presentation"><a href="#Materials" aria-controls="Materials" role="tab" data-toggle="tab">Materials</a></li>
    <li role="presentation"><a href="#Landscape" aria-controls="Landscape" role="tab" data-toggle="tab">Landscape</a></li>
    <li role="presentation"><a href="#geopiers" aria-controls="Insulation" role="tab" data-toggle="tab">Geo-piers</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Composite_enviro">
		<img src="/images/greenfeatures/Environment_comp.jpg" alt="Composite at greenrmi">
    </div>
    <div role="tabpanel" class="tab-pane" id="Materials">
    	<img src="/images/greenfeatures/Environment_1.jpg" alt="Materials at greenrmi">
    </div>
    <div role="tabpanel" class="tab-pane" id="Landscape">
    	<img src="/images/greenfeatures/Environment_2.jpg" alt="Landscape at greenrmi">
    </div>
    <div role="tabpanel" class="tab-pane" id="geopiers">
    	<img src="/images/greenfeatures/Environment_3.jpg" alt="Geo-piers at greenrmi">
    </div>
  </div>
 <a name="water"></a>
<h2>Water</h2>
  <ul id="myTabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Composite_water" aria-controls="Composite_water" role="tab" data-toggle="tab">Composite</a></li>
    <li role="presentation"><a href="#storage" aria-controls="reuse" role="tab" data-toggle="tab">Storage</a></li>
    <li role="presentation"><a href="#reuse" aria-controls="reuse" role="tab" data-toggle="tab">Re-use</a></li>
    <li role="presentation"><a href="#cip" aria-controls="cip" role="tab" data-toggle="tab">CIP</a></li>
    <li role="presentation"><a href="#recycling" aria-controls="recycling" role="tab" data-toggle="tab">Recycling</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Composite_water">
		<img src="/images/greenfeatures/Water_comp.jpg" alt="Composite at greenrmi">
    </div>
    <div role="tabpanel" class="tab-pane" id="storage">
    	<img src="/images/greenfeatures/Water_1.jpg" alt="Storage at greenrmi">
    </div>
    <div role="tabpanel" class="tab-pane" id="reuse">
    	<img src="/images/greenfeatures/Water_2.jpg" alt="Re-use at greenrmi">
    </div>
    <div role="tabpanel" class="tab-pane" id="cip">
    	<img src="/images/greenfeatures/Water_3.jpg" alt="CIP at greenrmi">
    </div>
    <div role="tabpanel" class="tab-pane" id="recycling">
    	<img src="/images/greenfeatures/Water_4.jpg" alt="Recycling at greenrmi">
    </div>
  </div>

