		<div class="subnav">
			<a class="btn btn-subnav" href="/content/bldg/brewery" role="button">The Brewery</a>
			<a class="btn btn-subnav" href="/content/bldg/winery" role="button">The Winery</a>
			<a class="btn btn-subnav" href="/content/bldg/vineyard" role="button">The Vineyard</a>
			<a class="btn btn-subnav" href="/content/bldg/fsl" role="button">The Food Science Lab</a>
		</div>