		<div class="subnav">
			<a class="btn btn-subnav" href="/content/bldg/brewery.html" role="button">The Brewery</a>
			<a class="btn btn-subnav" href="/content/bldg/winery.html" role="button">The Winery</a>
			<a class="btn btn-subnav" href="/content/bldg/vineyard.html" role="button">The Vineyard</a>
			<a class="btn btn-subnav" href="/content/bldg/fsl.html" role="button">The Food Science Lab</a>
		</div>