---
title: Welcome to Green RMI
---

<section class="banner-bg">
	<div class="banner">
		<div class="banner_words">
			<h2>Green Innovation</h2>
			<h1>The Future of <br/><span>Food, Wine &amp; Beer</span></h1>
		</div>
		<div class="banner_nav">
			<ul class="banner_arrows">
				<li><a href="#">The Brewery <i class="fa fa-arrow-right"></i></a></li>
				<li><a href="#">The Winery <i class="fa fa-arrow-right"></i></a></li>
				<li><a href="#"> The Food Science Lab <i class="fa fa-arrow-right"></i></a></li>
				<li><a href="#">Giving <i class="fa fa-arrow-right"></i></a></li>
			</ul>
		</div>
	</div>
</section>
	<div class="total_content">
		<div class="row">
			<div class="three columns">
				
			<h4>In the news</h4>
			<ul style="padding-left:20px;">
			<li><a title="New Sustainable Winery Building" class="internal-link" href="/content/news/new-sustainable-winery-building.html">New Sustainable Winery Building</a> The Jess S. Jackson Sustainable Winery Building at UC Davis breaks ground on November 3, 2011.<br></li>
			<li><a title="LEED Platinum facility at UC Davis" class="internal-link" href="/content/bldg/leed.html">LEED Platinum facility at UC Davis</a> Hundreds celebrated the unique winery, brewery, and food-processing lab at UC Davis.</li>
			<li><a title="Grand Opening" class="internal-link" href="content/news/grand-opening.html">Grand opening!</a> The official grand opening of the Teaching and Research Winery and the August A. Busch III Brewing and Food Science Laboratory was held Friday, January 28, at 10 a.m.</li>
			</ul>
			<p align="right"><a title="News" class="internal-link" href="/content/news/news.html">News archive »</a></p>

			</div>
			<div class="six columns text-center">
				<script type="text/javascript" src="http://v.caes.ucdavis.edu/JWPlayer/swfobject.js"></script>
				<div id="mediaspace"><embed type="application/x-shockwave-flash" src="http://v.caes.ucdavis.edu/JWPlayer/player.swf" width="390" height="250" style="undefined" id="mpl" name="mpl" quality="high" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="file=http://v.caes.ucdavis.edu/BWF/Video/Winery.flv&amp;image=http://v.caes.ucdavis.edu/BWF/Video/Winery.png&amp;viral.onpause=false&amp;title=BWF Timelaspe&amp;plugins=googlytics-1"></div>
				<script type="text/javascript">
				  var so = new SWFObject('http://v.caes.ucdavis.edu/JWPlayer/player.swf','mpl','390','250','9');
				  so.addParam('allowfullscreen','true');
				  so.addParam('allowscriptaccess','always');
				  so.addParam('wmode','opaque');
				  so.addVariable('file','http://v.caes.ucdavis.edu/BWF/Video/Winery.flv');
				  so.addVariable('image','http://v.caes.ucdavis.edu/BWF/Video/Winery.png');
				  so.addVariable('viral.onpause','false');
				  so.addVariable('title','BWF Timelaspe');
				  so.addVariable('plugins','googlytics-1');
				  so.write('mediaspace');
				</script>
				<p>The new winery, brewery, and food science facility is featured in "State of Minds," UCTV's quarterly magazine program, produced by Paul Pfotenhauer.</p>
				<p><a class="external-link" href="http://get.adobe.com/flashplayer/" target="_blank">Download Adobe Flash</a> (free)</p>
			
			</div>
			<div class="three columns">
				<h4>About the Building</h4>
				<img src="/images/front-bldg.jpg" alt="buildingsketch">
				<p>The 34,000-square-foot facility, funded entirely by private donations, includes the Teaching and Research Winery and the August A. Busch III Brewing and Food Science Laboratory. It is designed to meet <a title="What makes us LEED Platinum" class="internal-link" href="/news/leed/what-makes-us-leed-platinum">LEED Platinum</a> building and construction standards — the highest certification granted by the U.S. Green Building Council.</p>
				<p align="right"><a title="Building Tour" class="internal-link" href="/bldg/videos">More about the building »</a></p>
			</div>
		</div>
	</div>