---
title: Welcome to Green RMI
---

<section class="banner-bg">
	<div class="banner">
		<div class="banner_words">
			<h2>Green Innovation</h2>
			<h1>The Future of <br/><span>Food, Wine &amp; Beer</span></h1>
		</div>
		<div class="banner_nav">
			<ul class="banner_arrows">
				<li><a href="#">The Brewery <i class="fa fa-arrow-right"></i></a></li>
				<li><a href="#">The Winery <i class="fa fa-arrow-right"></i></a></li>
				<li><a href="#"> The Food Science Lab <i class="fa fa-arrow-right"></i></a></li>
				<li><a href="#">Giving <i class="fa fa-arrow-right"></i></a></li>
			</ul>
		</div>
	</div>
</section>