---
title: Building Layout
---

<section class="total_content">
	<div class="row">
		<div class="twelve columns text-center">
			<h1>Building Layout</h1>
			<h2>Click to view the full building floorplan.</h2>
		</div>
	</div>
	<div class="row">
		
		<div class="twelve columns text-center">
			<a href="/images/map-static.jpg"><img src="/images/map-static.jpg"></a>
		</div>
	</div>
</section>
