---
title: The Food Science Lab
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/fsl_banner.jpg">
	</div>
	<%= partial "subnav" %>
	<div class="row">
		<div class="twelve columns">
			<h1>The Food Science Lab</h1>
			<h2>A recipe for industry innovation</h2>
		</div>
	</div>
	<div class="row">
		<div class="six columns">
			<p>The lab is part of the overall 11,500-square-foot August A. Busch III Brewing and Food Science Laboratory. The foods laboratory houses the brewery, a milk-processing lab and the California Processing Tomato Industry Pilot Plant.</p>
			<p>The entire building was designed and constructed to meet the highest environmental standards, as prescribed by the U.S. Green Building Council’s LEED (Leadership in Energy and Environmental Design) certification program. This is the first LEED Platinum food-processing plant in the world.</p>
			<p><img src="/images/fsl_content.jpg"></p>
		</div>
		<div class="six columns">
			<p>The California Processing Tomato Industry Pilot Plant handles a broad spectrum of food products, including tomatoes, olives, peaches, prunes and more. The facility’s milk processing laboratory is flexible enough for teaching and research on traditional dairy food products, as well as research on milk components that have potential for improving health, immune function, and cognition.</p>
			<p>“One of the extraordinary features of the entire facility is that both the general food-processing pilot plant and the milk-processing laboratory are designed and constructed for food-grade and dairy-grade processing, respectively,” says Professor Emeritus John Krochta.  “That means that we will actually be able to provide samples of the foods and milk-based products that are processed here for sensory or nutritional evaluation.”</p>
			<p>“The new facility provides a unique opportunity for faculty and students to partner with industry in exploring new technologies, emphasizing those that are sustainable from both food-supply and environmental viewpoints,” said Jim Seiber, former chair of the Department of Food Science and Technology.</p>
		</div>
	</div>
</section>
