---
title: Support Green RMI
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/giving_banner.jpg">
	</div>
	<div class="row">
		<div class="twelve columns">
			<h1>Give Green</h1>
			<h2>Building a better beer</h2>
		</div>
	</div>
	<div class="row">
		<div class="nine columns">
		<p><strong>Become a partner in our future</strong></p>
		<p>Your gift will support our teaching and research programs in the new LEED Platinum winery, brewery, and food science facilities at UC Davis</p>
		<h4>How to give</h4>
		<div class="col700">
		<ul>
			<li><a target="_blank" class="external-link" href="http://giving.ucdavis.edu/area_college_ag.html"> Online giving</a></li><li><a target="_blank" class="external-link" href="https://awc.ucdavis.edu/MakeAGift.aspx?alloccat=130207000">Give to the Department of Food Science and Technology</a></li>
			<li><a target="_blank" class="external-link" href="https://awc.ucdavis.edu/MakeAGift.aspx?alloccat=130215000">Give to the Department of Viticulture &amp; Enology</a><br></li>
		</ul>
		<p>Contact:</p>
		<table>
			<tbody>
				<tr>
					<td>
					<img class="image-left" src="/images/melissa_haworth.jpg" alt="Melissa Haworth ">
					</td>
					<td>
					<p>August A. Busch III Brewing and Food Science Laboratory<br><strong>Brewery, dairy, and food-processing facilities</strong><br>Melissa Haworth<br>Director, Major Gifts <br>CA&amp;ES Dean's Office<br>(530) 979-1440<br><a href="mailto:mdhaworth@ucdavis.edu">mdhaworth@ucdavis.edu</a></p>
					</td>
					</tr>
					<tr>
					<td><img class="image-left" src="/images/kathy_barrientes.jpg" alt="Kathy Barrientes"></td>
					<td>
					<p><strong>Teaching and Research Winery</strong><br>Kathy Barrientes<br>Director, Major Gifts<br>CA&amp;ES Dean's Office<br>(530) 752-1602<br><a href="mailto:ksbarrientes@ucdavis.edu">ksbarrientes@ucdavis.edu</a></p>
					</td>
				</tr>
			</tbody>
		</table>
			<h3>We thank our generous donors</h3>
			<div class="row">
				<div class="four columns">
					<ul class="level1">
						<li>Robert G. Mondavi</li><li>
						J. Lohr Vineyards &amp; Wines</li><li>
						T. J. and Valeta Rodgers, Clos De La Tech Vineyards</li><li>
						Anheuser-Busch Foundation</li><li>
						The Morning Star Packing Company</li><li>
						Ron and Diane Miller, Silverado Vineyards</li>
					</ul>
					<ul class="level3">
			<li>
			Anonymous</li><li>
			Bart and Daphne Araujo, Araujo Estate Wines</li><li>
			Ted Briggs</li><li>
			California Tomato</li><li>
			Growers Association</li><li>
			California Tomato Research Institute</li><li>
			Dairy Council of California</li><li>
			H.J. Heinz Company Foundation</li><li>
			The H.J. Heinz Company</li><li>
			Ingomar Packing Company</li><li>
			Paul and Sandra Montrone</li><li>
			Douglas and Julianne Muhleman</li><li>
			Southern California Chapter of the Institute of Food</li><li>
			Technologists (SCIFTS)</li><li>
			Thermo Fisher Scientific</li></ul>
				</div>
				<div class="four columns">
					<ul class="level2">
					<li>Beringer Estates</li><li>
					Boswell Foundation, Inc.</li><li>
					Cooperages 1912 Napa</li><li>
					Con Agra Foods, Inc.</li><li>
					Jess Jackson and Barbara</li><li>
					Banke, Jackson Family Wines</li><li>
					Wendell Jacob—In memory of Harry Jacob</li><li>
					Rod and Cathy Park</li><li>
					Ray Rossi and Louise Rossi</li><li>
					Peter J. Shields Chair in Dairy</li><li>
					Food Science Endowment</li>
				</ul>
				<ul class="level3">
			<li>
			Wayne and Jacque Bartholomew</li><li>
			Jacqueline Herbert Beckley and Leslie J. Herzog</li><li>
			J.G. Boswell Company</li><li>
			Campbell Soup Company</li><li>
			Dairy Institute of California</li><li>
			Del Monte Foods</li><li>
			Jelly Belly Candy Company</li><li>
			Larry Y. and Ellen A. Lee</li><li>
			Ken and Dorothy Lindauer</li><li>
			Harold and Deborah McClarty, HMC Marketing</li><li>
			Pacific Coast Producers</li><li>
			David and Eugenia Ruegg</li><li>
			Richard and Claudia Smith, Paraiso Vineyards</li><li>
			Clair A. Weast</li><li>
			Bogle Vineyards</li><li>
			The Winemaker’s Database, Inc.</li></ul>
				</div>
				<div class="four columns">
					<ul class="level3">
						<li>
						Constellation Wines U.S.</li><li>
						Cornerstone Flooring—in memory of Michael Bonaccorsi</li><li>
						In memory of John C. Gist, Jr.</li><li>
						Hilmar Cheese Company</li><li>
						Alan and Gladys Hoefer</li><li>
						Los Gatos Tomato Products and its growers</li><li>
						Peter and Merle Mullin</li><li>
						Ed and Irene Ojdana</li><li>
						Joan Platt—in memory of Lew Platt</li><li>
						Sierra Nevada Brewing Co.</li><li>
						Silver Oak Cellars</li><li>
						The Wine Group</li></ul>
						<ul class="level3">
			<li>
			Ag Leaders—in memory of Bill Allewelt</li><li>
			Vern and Mary Lee Altman</li><li>
			Brown-Forman</li><li>
			John and Nancy Buechenstein</li><li>
			Charles and Kalani Engles</li><li>
			GE Consumer and Industrial</li><li>
			Dennis and Judith Groth, Groth Vineyards &amp; Winery</li><li>
			In memory of John Halliday</li><li>
			Clare M. Hasler-Lewis</li><li>
			Heitz Wine Cellars</li><li>
			J.M. Equipment Company</li><li>
			Walter Jennings</li><li>
			Ken and Connie McCorkle</li><li>
			Cathy and Ron Midyett</li><li>
			Jeffrey and Darice O’Neill</li><li>
			Parker Hannifin Corporation</li><li>
			Robert Pellegrini, Pellegrini Brothers Wines, Inc.</li><li>
			Bill Perry</li><li>
			R.F. MacDonald Company</li><li>
			Ramey Wine Cellars</li><li>
			Charles Sawyer, Sawyer Cellars</li><li>
			Lois Spafford</li><li>
			Herbert and Marjorie Stone</li><li>
			Charmer Sunbelt</li><li>
			Sunridge Nurseries</li><li>
			William and Mary Traverso</li><li>
			Robert and Carli Traverso, Traverso Wines</li><li>
			Doug Wight</li></ul>
				</div>
			</div>
			
			
			
			
			
			
			</div>

		</div>
		<div class="three columns">
			<img src="/images/whatisleed_content.png" alt="leed certified">
		</div>
	</div>
</section>
