---
title: Industry collaboration
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/industry_banner.jpg">
	</div>
	<div class="row">
		<div class="twelve columns">
			<h1>Industry collaboration</h1>
		</div>
	</div>
	<div class="row">
		<div class="six columns">
		<p>The new brewery, winery and foods facility at the Robert Mondavi Institute provides continuing opportunities for faculty and students to partner with industry in exploring new technologies, emphasizing those that are sustainable from both food supply and environmental viewpoints.</p>

		<p>“The food processing industry in California contributed significantly to this facility, in part because of the need for research-driven innovations that can reduce this industry's use of water and energy, and make beneficial use of byproducts,” said James Seiber, former chair of the Department of Food Science and Technology.</p>

		<p>In addition, UC Davis benefits as its partners in the private sector stimulate faculty and students to push the boundaries of conventional thinking.</p>

			
		</div>
		<div class="six columns"> 
		<p>For instance, a group of winery partners led by Jess Jackson and his wife Barbara Banke of Kendall-Jackson Wines and Jerry Lohr of J. Lohr Vineyards &amp; Wines led the effort to secure the $2.1 million needed to pay for the state-of-the-art sustainable design.</p>

		<p>Their donations made the <a href="/content/bldg/whatisleed">facility’s world-class LEED platinum certification</a> possible. And this, in turn, will help inspire similar green innovations in the food, beer and wine industries.</p>
		</div>
	</div>
</section>
