---
title: LEED Platinum	
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/leed_banner.jpg">
	</div>
	<div class="row">
		<div class="twelve columns">
			<h1>What makes us LEED Platinum?</h1>
			<h2>Pursuing U.S. Green Building Council's Top Certification</h2>
		</div>
	</div>
	<div class="row">
		<div class="nine columns">
			<p>When someone hears about the new Brewery, Winery and Food Science Facility at UC Davis, often the first question is, “So, what makes this a LEED Platinum building?” (LEED stands for Leadership in Energy and Environmental Design, a rating developed and certified by the U.S. Green Building Council.)</p>
			<p>Good question. It is not just the photovoltaic panels you will see from Interstate 80 nor the large rainwater collection tanks serving the building. To achieve the certification, the project is designed holistically from its connection to public transportation and other community services, to the recycled 1920s aqueduct wood in the winery collections room, to the CO2 sensor in the brewery. While a project can achieve LEED certification at a number of levels, in order to meet the highest level of Platinum, a project must meet almost all of the building standards.</p>
			<p>The following design and construction solutions make this project eligible for LEED Platinum certification, based on the U.S. Green Building Council’s framework.</p>
			<ol>
			<li>
			<h4>Sustainable Sites<br /></h4>
			<p>This first of the six categories focuses on appropriate use of the building site as it relates to its water and landscape, public and alternative transportation, minimizing the urban “heat-island” effect and integrating the new building with the existing neighborhood. Important features include:</p>
			<ul><li>A construction erosion and sedimentation control plan; </li><li>An appropriate site (no prime farmland or wetland);</li><li>One-half acre restored natural grassland habitat;</li><li>Pedestrian access within a half mile to community services;</li><li>Convenient to public transportation (within a quarter mile of bus lines);</li><li>Secure bike parking and showers to encourage alternative transportation;</li><li>No new parking;</li><li>Electric vehicle charging stations at existing nearby parking lot; </li><li>Native and adapted plants (approved by the UC Davis Arboretum); </li><li>High ratio of open space to development footprint;</li><li>Limited disruption and pollution of natural water sources by increasing on-site infiltration and use of rainwater-capture system for zero runoff; </li><li>Minimization of urban "heat islands," which occur when development replaces vegetation, by providing trees, shading devices, open grid and reflective paving, and highly reflective roof materials; and</li><li>Limited light trespass from the site and building to increase night sky visibility and reduce impact on nocturnal environments.<br /><br /></li></ul>
			</li><li>
			<h4>Water Efficiency</h4>
			<p>The primary focus for this category is to reduce the use of water, which includes these features:</p>
			<ul><li>A system of rainwater and process-water capture and reuse for landscape irrigation and toilets, saving about 300,000 gallons annually;<br /></li><li>Real-time, weather-based irrigation control, subsurface watering and drought -tolerant plant species for a highly water-efficient landscape; and<br /></li><li>Water-efficient plumbing fixtures.&nbsp; <br /><br /></li></ul>
			</li><li>
			<h4>Energy and Atmosphere:</h4>
			<p>This category focuses on conserving or reducing energy use through more efficient procedures and mechanical/operating systems.&nbsp; It also emphasizes use of alternative energy systems.&nbsp; Special features include:</p>
			<ul><li>Exceeding California Title 24 building code standards by 31 percent, saving approximately $23,000 per year in energy costs; </li><li>Renewable energy production from roof photovoltaic panels for producing 120,000 kwh per year;</li><li>High-performance “envelope” to minimize heat transfer through walls, roof and windows, and a roof that reflects the sun to a high degree;</li><li>Energy-efficient lighting systems (fluorescents and LEDs), daylight “harvesting” (lights dim or off when enough daylight), and occupancy sensors (off when room not in use);</li><li>Heat recovered from building exhaust to preheat outside air used in the building HVAC system; </li><li>Walk-in coolers and freezers with water-cooled compressors to reduce energy use; the&nbsp; compressors’ water loop also provides space heating;</li><li>A natural ventilation system cools main processing rooms at night;</li><li>Phasing out chlorofluorocarbon-based refrigerants in equipment to prevent damage to the atmosphere; and</li><li>A complete equipment testing to ensure proper use and efficiency; this includes training, available maintenance and warranty manuals, and recheck of building systems 10 months after occupancy. <br /><br /></li></ul>
			</li>

			<li>
			<h4>Materials and Resources</h4>
			<p>This category emphasizes using recycled, regional and sustainable materials while minimizing construction waste.&nbsp; Features include:</p>
			<ul><li>90 percent of construction waste diverted from the landfill;</li><li>Use of recycled content materials throughout for steel, insulation, ceramic tile, acoustical tile, wood, etc. ;</li>
			<ul><li>Reclaimed wood from 1920s aqueduct at ceiling and recycled glass in the concrete flooring in Special Bottle Collections room;</li><li>Industry waste by-products of fly ash and slag used to replace 50 percent of the cement, preventing 100 tons of CO2 emissions into the atmosphere; </li><li>Nearly 95 percent of structural steel composed of recycled material;&nbsp; </li></ul>
			<li>More than 10 percent of construction materials extracted and manufactured within 500 miles of project site;</li><li>Over 50 percent of wood-based products certified in accordance with the Forest Stewardship’s Council principles and criteria for sustainably harvested forests; and</li><li>A comprehensive recycling plan for paper, cardboard, glass, plastic, metals and compost. (An honor-student project developed a plan for organic-waste composting, which is particularly effective at this type of facility.) <br /><br /></li></ul>
			</li><li>
			<h4>Indoor Environmental Health Quality</h4>
			<p>Features include:</p>
			<ul><li>Concern for interior air quality and ability to control individual spaces, integrating exterior airflow and natural sunlight; and all products and finishes emit&nbsp; little or no volatile organic compounds; </li><li>Monitored “flush out” and air sampling before occupancy to ensure clean building air;</li><li>Comprehensive air-quality plan during construction, including ductwork protection and filtering; </li><li>Use of special air filtration and entry mats to minimize pollutants in building; </li><li>Use of daylight as the primary light source and windows for views in all regularly occupied spaces;</li><li>Individual light controls for 90 percent of occupants and temperature controls for more than 50 percent, to customize comfort;</li><li>Monitoring of CO2 levels, a particular concern for a facility with fermentation processes; and</li><li>Increased use of outdoor air to enhance comfort and health inside.<br /><br /></li></ul>
			</li><li>
			<h4>Innovation and Design Process (and beyond LEED)</h4>
			<p>This category implements creative ideas and processes to exceed design goals particularly important to the wine, beer and food science industries, including:</p>
			<ul><li>Real-time data on water and electricity metering, displayed in the building lobby with visitor information showcasing the project’s sustainable features;</li><li>Non-chemical water treatment system for process condenser water;</li><li>Capturing CO2 from fermentation process at source instead of releasing to room, minimizing energy use; future building and equipment to sequester CO2, instead of releasing it to atmosphere; and</li><li>Water efficiency 82.3 percent greater than current state requirements through use of rainwater and low-flow fixtures.<br /><br /></li></ul>
			</li></ol>
			<p>These features, combined with programming the buildings for multiple uses, will result in the first LEED Platinum brewery, the first LEED Platinum winery, and only the second LEED Platinum facility in the UC system.</p>
			<p>But more importantly, it serves as a role model for the food and wine industries.&nbsp; And as each industry advances, the building, because it has been designed to be flexible, can adapt to demonstrate new best practices of sustainability.</p>
			<p><em><strong>By Julianne Nola, Senior Project Manager<br />UC Davis Design and Construction Management</strong></em></p>
		</div>
	</div>
</section>
