---
title: Sustainability Research	
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/research_banner.jpg">
	</div>
	<div class="row">
		<div class="twelve columns">
			<h1>What makes us LEED Platinum?</h1>
			<h2>Pursuing U.S. Green Building Council's Top Certification</h2>
		</div>
	</div>
	<div class="row">
		<div class="six columns">
			<h2>Beer</h2>
			<p>In the brewery, researchers will continue to investigate alternative procedures that enable the production of beer with reduced inputs of water and energy, while also reducing the need to deal with co-products of brewing.</p>

			<h2>Fruits</h2>	
			<p>Sustainable research planned in the new facility and its related departments include:</p> 
			<ul>
				<li>Enhancing fruit firmness and nutritional content, especially of the antioxidant B-carotene, for sustainable consumer health;</li>
				<li>
				Improving the ability of peaches to be mechanically harvested and shipped long distances as California peach processing plants are centralized, for economic sustainability; and</li>
				<li>
				Reducing fungicide and insecticide use by developing fruit varieties that can better resist attacks by fungi and insects
				</li>
			</ul>
			<h2>Dairy Foods</h2>
			<p>Sustainable research in the milk-processing laboratory will be aimed at producing high-quality, healthful, milk-based products that require less energy and water to process. The lab also will concentrate on using sustainable sources of milk, energy and water, without generating environmentally damaging waste in the form of processing by-products.</p>
			
		</div>
		<div class="six columns"> 
			<h2>Overall Facility</h2>
			<p>If funding is available, the new brewery, winery and foods facility also will be used to:</p>
			<ul>
				<li>Develop real-time “footprints” that quantify the energy and water use of an advanced teaching and research facility;</li>
				<li>Demonstrate the use of a photo-voltaic-hydrogen fuel cell hybrid for generating self-sustainable energy;</li>
				<li>Produce metrics that quantify the operations of a self-sustainable winery and brewery complex that uses a rainwater recovery and re-use system;</li>
				<li>Demonstrate how carbon dioxide can be captured and sequestered in a winery to prevent contributing to global climate change; and</li>
				<li>Develop dynamic models based on climatic conditions and actual energy use in a LEED Platinum research facility. With regard to brewing, we continue to investigate alternative procedures that enable the production of beer with reduced inputs of water and energy and with reduced need to deal with co-products.</li>
			</ul>
			<h3><a href="/content/bldg/whatisleed">More on sustainabile research: What is LEED?</a></h3>
		</div>
	</div>
</section>
