---
title: Videos
---

<section class="total_content">
	<div class="row">
		<div class="twelve columns">
			<h1>LEED Platinum Brewery, Winery &amp; Food Pilot Facility:<br/>
			A Recipe for Success at UC Davis</h1>
		</div>
	</div>
	<div class="row">
		<div class="six columns">
			<h2>Related Resources</h2>
			<ul><li><a href="/images/files/Excerpt_of_Performance_Specifications.pdf" target="_blank">Performance Specifications</a></li>
			<li><a href="/images/files/Excerpt_of_Room_Program_Sheets.pdf" target="_blank">Room Program Sheets</a></li>
			<li><a href="/images/files/Process_loads_Summary.pdf" target="_blank">Process Loads Summary</a></li>
			<li><a href="/images/files/Project_Timeline.pdf" target="_blank">Project Timeline</a></li>
			<li><a href="/images/files/Design_Build_Team_Structure.pdf" target="_blank">Design Build Team Structure</a></li> </ul>
		</div>
		<div class="six columns">
			<h2>Additional Resources</h2>
			<ul>
				<li><a href="/images/files/campus_map_RMI-BWF.jpg" target="_blank">Campus Map</a></li><li><a href="/images/files/Floor_plan.jpg" target="_blank">Floor Plan</a></li><li><a href="/images/files/Elevations_and_Renderings.pdf" target="_blank">Elevations and Renderings</a></li><li><a href="pdf/Picture_Gallery.pdf" target="_blank">Picture Gallery</a></li><li><a href="/images/files/LEED_Scorecard.pdf" target="_blank">LEED Scorecard</a></li>
			</ul>
		</div>
	</div>
</section>
