---
title: Videos
---

<section class="total_content">
	<div class="row">
		<div class="twelve columns">
			<h1>LEED Platinum Brewery, Winery &amp; Food Pilot Facility:<br/>
			A Recipe for Success at UC Davis</h1>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns text-center">
			<p>For the UC Davis Brewery, Winery and Food Pilot Facility project, an integrative, design-build approach was essential to meeting LEED Platinum within a lean construction budget. Explore this virtual tour to see and hear from diverse stakeholders about project goals, scoping challenges, and strategies.
			</p>
			<p>
			Through videos, architectural plans and renderings, project planning documents and more, learn how the project team went successfully beyond its Silver certification goals to achieve LEED Platinum, all while meeting the needs of diverse user groups.</p>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns text-center">
			<a style="border:0;clip:rect(0 0 0 0);display:block;height:1px;margin:-1px;outline:none;overflow:hidden;padding:0;position:absolute;width:1px;" title="Flash start" tabindex="0" href="#limelight_player_779756" id="beforeswfanchor0"></a>
			<object tabindex="1" type="application/x-shockwave-flash" id="limelight_player_779756" name="limelight_player_779756" class="LimelightEmbeddedPlayerFlash swfPrev-beforeswfanchor0 swfNext-afterswfanchor0" data="http://assets.delvenetworks.com/player/loader.swf" height="380" width="585">
				<param name="movie" value="http://assets.delvenetworks.com/player/loader.swf">
				<param name="wmode" value="opaque">
				<param name="allowScriptAccess" value="always">
				<param name="allowFullScreen" value="true">
				<param name="flashVars" value="channelId=1a1d7adbb87541acbe1a8987ff0c70e7&playerForm=1e1899f751af4b83a9a44205f1ffad4c&deepLink=true&defaultQuality=1200">

			</object>
				<a style="border:0;clip:rect(0 0 0 0);display:block;height:1px;margin:-1px;outline:none;overflow:hidden;padding:0;position:absolute;width:1px;" title="Flash end" tabindex="-1" href="#limelight_player_779756" id="afterswfanchor0"></a>
		</div>
		<div class="twelve columns">
			<div id="playlist_content">
				<div class="playlist_item"><a href="#" onclick="onPlaylistItemClick('c1f8d8d61ed045be9b4e91d8ece03238',0);"><img src="http://img.delvenetworks.com/z_XrskNBQZgrRzwPq7DxFU/wfjY1h7QRb4m06R2OzgMjg/BAA.585x332.jpeg" width="150">
					<span id="c1f8d8d61ed045be9b4e91d8ece03238">
						<h3>The Design-Build Approach</h3>
						<h3><em>Winery Barrel Room</em></h3>
						<p>From the winery barrel room, Julianne tells how after struggling with budget and scope challenges, the University moved forward with a design build team to achieve and exceed their goals.</p>
					</span>
				</a>
				</div>
				<div class="playlist_item">
					<a href="#" onclick="onPlaylistItemClick('e3bfb060b5ca4f988cfa8683524c7c53',1);"><img src="http://img.delvenetworks.com/z_XrskNBQZgrRzwPq7DxFU/47-wYLXKT5gjPqGg1JMfFM/DhL.585x332.jpeg" width="150"><span id="e3bfb060b5ca4f988cfa8683524c7c53">
						<h3>A Donor-Funded Strategy</h3>
						<h3><em>Special Collections Room</em></h3>
						<p>Dr. Roger Boulton, project visionary and UC Davis Professor of Enology and Chemical Engineering, discusses how the project team shifted its goal from LEED Silver to Platinum with donor support, while giving a tour of the special collections winery room.</p>
					</span></a>
				</div>
				<div class="playlist_item">
					<a href="#" onclick="onPlaylistItemClick('5444a4ac59cb4770bfb0ee15dba26cdd',2);"><img src="http://img.delvenetworks.com/z_XrskNBQZgrRzwPq7DxFU/VESkrFnLR3Av7DuFduibN0/wET.585x332.jpeg" width="150"><span id="5444a4ac59cb4770bfb0ee15dba26cdd">Waste &amp; Recycling<br><em>Brewery</em></span></a>
				</div>
				<div class="playlist_item">
					<a href="#" onclick="onPlaylistItemClick('033e8fc6a6c946d49743f787b33cd6ea',3);"><img src="http://img.delvenetworks.com/z_XrskNBQZgrRzwPq7DxFU/Az6PxqbJRtQl0P3h7M81uo/DMT.585x332.jpeg" width="150"><span id="033e8fc6a6c946d49743f787b33cd6ea">Diverse Program Needs<br><em>Winery</em></span></a>
				</div>
				<div class="playlist_item">
					<a href="#" onclick="onPlaylistItemClick('7e6a1a3fba05445ca99db299773b950b',4);"><img src="http://img.delvenetworks.com/z_XrskNBQZgrRzwPq7DxFU/fmoaP7oFRFwqZ2ymXc7lQs/FVB.585x332.jpeg" width="150"><span id="7e6a1a3fba05445ca99db299773b950b">Meeting User Requirements<br><em>Food Processing Pilot Plant</em></span></a>
				</div>
				<div class="playlist_item">
					<a href="#" onclick="onPlaylistItemClick('16fb9d7b69b3471ab3577d49a7c922a9',5);"><img src="http://img.delvenetworks.com/z_XrskNBQZgrRzwPq7DxFU/Fvude2mzRxos1d9SafJIqk/Y6c.585x332.jpeg" width="150"><span id="16fb9d7b69b3471ab3577d49a7c922a9">Materials &amp; Daylighting<br><em>Winery Laboratory</em></span></a>
				</div>
				<div class="playlist_item">
					<a href="#" onclick="onPlaylistItemClick('31d992b6154a44eda78fdef656e29682',6);"><img src="http://img.delvenetworks.com/z_XrskNBQZgrRzwPq7DxFU/MdmSthVKRO0p4_e9lbiloI/B4F.585x332.jpeg" width="150"><span id="31d992b6154a44eda78fdef656e29682">Renewable Energy<br><em>Rooftop</em></span></a>
				</div>
				<div class="playlist_item">
					<a href="#" onclick="onPlaylistItemClick('9e4341e490e242519d59ad1c275a5a75',7);"><img src="http://img.delvenetworks.com/z_XrskNBQZgrRzwPq7DxFU/nkNB5JDiQlEnVmtHCdaWnU/xF-.585x332.jpeg" width="150"><span id="9e4341e490e242519d59ad1c275a5a75">Landscape &amp; Water Efficiency<br><em>Courtyard</em></span></a>
				</div>
				<div class="playlist_item">
					<a href="#" onclick="onPlaylistItemClick('02ad2fd670c54eafac3023b9a37beca8',8);"><img src="http://img.delvenetworks.com/z_XrskNBQZgrRzwPq7DxFU/Aq0v1nDFTq8rDAjuaN77Kg/gD0.585x332.jpeg" width="150"><span id="02ad2fd670c54eafac3023b9a37beca8">Commissioning<br><em>Mechanical Room</em></span></a>
				</div>
				<div class="playlist_item">
					<a href="#" onclick="onPlaylistItemClick('0d2aad2cace14ea48be0b34fc3aff43e',9);"><img src="http://img.delvenetworks.com/z_XrskNBQZgrRzwPq7DxFU/DSqtLKzhTqQi-CzT8Ov9D4/2z3.585x332.jpeg" width="150"><span id="0d2aad2cace14ea48be0b34fc3aff43e">An Integrated Team<br><em>Lobby</em></span></a></div><br style="clear:both;">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="six columns">
			<h2>Related Resources</h2>
			<ul><li><a href="/images/files/Excerpt_of_Performance_Specifications.pdf" target="_blank">Performance Specifications</a></li>
			<li><a href="/images/files/Excerpt_of_Room_Program_Sheets.pdf" target="_blank">Room Program Sheets</a></li>
			<li><a href="/images/files/Process_loads_Summary.pdf" target="_blank">Process Loads Summary</a></li>
			<li><a href="/images/files/Project_Timeline.pdf" target="_blank">Project Timeline</a></li>
			<li><a href="/images/files/Design_Build_Team_Structure.pdf" target="_blank">Design Build Team Structure</a></li> </ul>
		</div>
		<div class="six columns">
			<h2>Additional Resources</h2>
			<ul>
				<li><a href="/images/files/campus_map_RMI-BWF.jpg" target="_blank">Campus Map</a></li><li><a href="/images/files/Floor_plan.jpg" target="_blank">Floor Plan</a></li><li><a href="/images/files/Elevations_and_Renderings.pdf" target="_blank">Elevations and Renderings</a></li><li><a href="pdf/Picture_Gallery.pdf" target="_blank">Picture Gallery</a></li><li><a href="/images/files/LEED_Scorecard.pdf" target="_blank">LEED Scorecard</a></li>
			</ul>
		</div>
	</div>
</section>

