---
title: The Vineyard
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/vineyard_banner.jpg">
	</div>
	<%= partial "subnav" %>
	<div class="row">
		<div class="twelve columns">
			<h1>The Vineyard</h1>
			<h2>Teaching and Research Vineyard</h2>
		</div>
	</div>
	<div class="row">
		
		<div class="twelve columns">
			<img src="/images/vineyard_content.jpg">
		</div>
	</div>
</section>
