---
title: What is LEED	
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/whatisleed_banner.jpg">
	</div>
	<div class="row">
		<div class="twelve columns">
			<h1>What is LEED?</h1>
			<h2>Pursuing U.S. Green Building Council's Top Certification</h2>
		</div>
	</div>
	<div class="row">
		<div class="six columns">
			<img class="f-right" src="/images/whatisleed_content.png">
			<p>The new teaching and research winery and the August A. Busch III Brewing and Food Science Laboratory at the Mondavi Institute at the Robert Mondavi Institute for Wine and Food Science has obtained Platinum-level LEED certification.
			</p>
			<p>This means that UC Davis’ newest facility is rated at the highest level possible for lessening environmental impacts. In fact, UC Davis has the first Platinum-level winery in the world.</p>
			<p>These environmental building standards, developed in 1994, are called Leadership in Energy and Environmental Design (LEED). The certification level is determined by energy savings, water efficiency, carbon-dioxide emissions reduction, indoor environmental quality, wise use of resources, and sensitivity to the impact of the building on the surrounding environment or community.</p>
			<p>The certification process is administered by the U.S. Green Building Council as a voluntary, consensus-based standard. The goal is to support and certify successful green building design, construction, and operations.</p>
		</div>
		<div class="three columns">
			<h2>Certification Levels</h2>
			<p>
				<b>Certified</b> – 40-49 points</br>
				<b>Silver</b> – 50-59 points</br>
				<b>Gold</b> – 60-79 points</br>
				<b>Platinum</b> – 80 points and above</br>
			</p>
			<ul>
				<li>Points are awarded on a 100-point scale.</li>
				<li>Credits are weighted to reflect their potential environmental impacts.</li>
				<li>10 bonus credits are available, four of which address regionally specific environmental issues.</li>
				<li>Buildings must satisfy all prerequisites and earn a minimum number of points to be certified.</li>
			</ul>
		</div>
		<div class="three columns">
			<h2>UC Davis' Record for sustainable construction</h2>
			<ul><li><a class="external-link" href="http://www.dateline.ucdavis.edu/dl_detail.lasso?id=11994">UC Davis buildings go green — gold and platinum</a> (Dateline, Oct. 9, 2009)<br />With a number of buildings already built to LEED standards, UC Davis has an ambitious plan to incorporate green technology in new construction.</li><li><a class="external-link" href="http://sustainability.ucdavis.edu/progress/commitment/awards.html">UC Davis’ sustainability ratings</a><br />UC Davis’ commitment to the environment and sustainability is reflected in a number of national rankings that give us high grades.</li><li><a title="What makes us LEED Platinum" class="internal-link" href="resolveuid/77dc061774438277d61680722fac273b">What makes us LEED Platinum?</a><br />Pursuing U.S. Green Building Council LEED Platinum Certification<br /></li></ul>
		</div>
	</div>
</section>
