---
title: The Winery
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/winery_banner.jpg">
		<div class="subnav">
			<a class="btn btn-default" href="/content/bldg/brewery.html" role="button">The Brewery</a>
			<a class="btn btn-default" href="/content/bldg/winery.html" role="button">The Winery</a>
			<a class="btn btn-default" href="/content/bldg/vineyard.html" role="button">The Vineyard</a>
			<a class="btn btn-default" href="/content/bldg/fsl.html" role="button">The Food Science Lab</a>

		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			<h1>The Winery</h1>
			<h2>Refining an age-old process</h2>
		</div>
	</div>
	<div class="row">
		<div class="six columns">
			<p>The 12,500-square-foot winery includes a large experimental fermentation area with 152 200-liter research fermentation tanks and 14 2,000-liter fermentation tanks. There are three controlled-temperature rooms, barrel and bottle cellars, an analytical lab, a classroom and a special bottle cellar for donated wines. The winery is used for research and teaching and for courses for professionals.</p>
			<p>The building enables students to learn both the principles and the practical applications of sustainability, said wine chemist Andrew Waterhouse, former chair of the Department of Viticulture and Enology and the John E. Kinsella chair in food, nutrition and health.</p>
			<p>Precision metering and control systems necessary for sustainable processing are also critical for moving winemaking to the next level of excellence, he stressed.</p>
			<p>
			“Fine wines are the result of an intricate mix of environmental and processing factors,” Waterhouse said. “If we are to better understand how environmental factors, such as sunlight levels in the vineyard, impact the subtle aspects of wine quality, we need to be able to very precisely control the winemaking process. The new winery equips us to do just that.”</p>
		</div>
		<div class="six columns">
			<img src="/images/winery_content.jpg">
		</div>
	</div>
</section>
