---
title: College of Agricultural and Environmental Sciences	
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/caes_banner.jpg">
	</div>
	<div class="row">
		<div class="twelve columns">
			<h1>The land-grant mission</h1>
			<h2>College of Agricultural and Environmental Sciences</h2>
		</div>
	</div>
	<div class="row">
		<div class="six columns">
			<p>One of the nation’s leading colleges for the study of agriculture and the environment in the nation, the College of Agricultural and Environmental Sciences at UC Davis addresses agricultural, environmental, and human sciences through cutting-edge research, top-ranked undergraduate and graduate education, and internationally recognized outreach programs.</p>
			
			<p>Students from the college graduate to become outstanding leaders and scientists, and research from the college is used to create a better world and healthier lives for everyone.
			</p>
		</div>
		<div class="six columns">
			<p>Solving real-world problems in the agricultural, environmental, and human sciences to produce a better world, healthier lives, and an improved standard of living for everyone.</p>
			
			<p>Get the latest news and learn about our programs, departments, education, and outreach at <a href="http://caes.ucdavis.edu">caes.ucdavis.edu</a></p>
		</div>
	</div>
</section>
