---
title: Food Science and Technology	
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/fst_banner.jpg">
	</div>
	<div class="innerds">
		<div class="maincol">
			<h1>New Horizons</h1>
			<h2>Food Science and Technology</h2>
			<p>The Department of Food Science and Technology is internationally recognized for its advances in making food and beverages more healthful, appealing and safe. It is the only such department within the University of California and is the state’s principal academic food science research group.</p>
			<img class="left_image" src="/images/fst_content.jpg">
			<p>The modern day department was created in 1959 but food science teaching and research has been a part of the university since its inception more than 100 years ago. Today, faculty work in four general areas: food chemistry and biochemistry, microbiology, sensory science, and process engineering and material properties science.</p>
			<p>
			New technologies and processes developed at UC Davis have been instrumental in making high-quality California food and beverage products, including dairy, brewing, seafood, fruits, nuts, and vegetables. Food safety research has helped identify and eliminate contamination in handling and processing. Knowledge of nutrients, antioxidants and other food components are helping create more healthful foods. Edible film coatings developed here are used worldwide to protect foods from spoilage while reducing packaging costs.
			</p>
			<p>
			Food science and technology graduates are in high demand for food industry careers, including positions as sensory scientists and product development specialists.  The department’s acclaimed brewing program also produces highly trained professionals for breweries throughout North America.
			</p>
		</div>
		<div class="sidecol">
			<h3>More on Food Science and Technology</h3>
			<img class="left_image" src="/images/fst_link.png">
			<p><a href="http://foodscience.ucdavis.edu">Visit the department homepage for information on courses, events, and more.</a></p>
		</div>
	</div>
</section>
