---
title: Robert Mondavi Institute	
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/rmi_banner.jpg">
	</div>
	<div class="row">
		<div class="twelve columns">
			<h1>Quality of life</h1>
			<h2>Robert Mondavi Institute</h2>
		</div>
	</div>
	<div class="row">
		<div class="six columns">
			<img class="f-right img_border" src="/images/rmi_content.jpg">
			<p>In 2001, Robert Mondavi, renowned California wine producer, made a personal gift of $25 million to establish the <a target="_blank" href="http://rmi.ucdavis.edu">Robert Mondavi Institute for Wine and Food Science (RMI)</a> within the <a target="_blank" href="http://caes.ucdavis.edu">College of Agricultural and Environmental Sciences</a>, opening a new era of opportunity for UC Davis in its widely acclaimed wine and food programs. Robert Mondavi and his wife, Margrit Biever Mondavi, also made a donation of $10 million to name the campus Center for the Performing Arts. The Mondavi gift is the largest private contribution in UC Davis history.</p>
			
			<p>UC Davis has been a true partner in building the international reputation of the California wine industry," said Robert Mondavi. "California wines are equal to the world's best in quality, diversity and excitement. We are now leading the way with UC Davis graduates at the helm of many of our finest wineries, Robert Mondavi Winery included. We are greatly honored to support UC Davis with new facilities that ensure its position as the world's leading educational center for viticulture, enology and food science."
			</p>
		</div>
		<div class="six columns">
			<p>UC Davis has a rich history of excellence in the wine and food sciences. For more than 125 years, the University of California has maintained active research and education programs in viticulture, enology and food science. No other academic institution can boast the rare combination of the premier College of Agricultural and Environmental Sciences, a large agricultural sector renowned for its fine wine and diverse food production, and the uniqueness of California cuisine.</p>
			
			<p>The Robert Mondavi Institute allows the campus to move two departments — <a target="_blank" href="/content/dept/ve">Viticulture and Enology</a>, and <a target="_blank" href="/content/dept/fst">Food Science and Technology</a> — under one roof in a new, state-of-the-art facility. These departments, recognized as the best in the world in their respective areas of scholarship, will be linked with other disciplines investigating the role of healthy and safe foods in the quality of life.</p>

			<p>
			The institute is envisioned as the gateway between UC Davis and a broad community of scientists, engineers, entrepreneurs, policymakers, industry professionals and technologists engaged in all dimensions of wine- and food science-related activities. The RMI will be the global innovator in university-based wine and food sciences research, education and outreach.
			</p>
		</div>
	</div>
</section>
