---
title: Robert Mondavi Institute	
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/ve_banner.jpg">
	</div>
	<div class="row">
		<div class="twelve columns">
			<h1>Quality of life</h1>
			<h2>Robert Mondavi Institute</h2>
		</div>
	</div>
	<div class="row">
		<div class="six columns">
			<p>The Department of Viticulture and Enology is renowned for its cutting-edge research and teaching in the science and art of grape growing and winemaking. One of the oldest academic departments at UC Davis, it has provided grape growers and vintners with scientific advances to help California become one of the world’s premier wine-producing regions.</p>
			
			<p>The department was established at the Davis campus upon repeal of Prohibition in 1935, but research into grape growing and winemaking at the University of California began in 1880 at the request of the California legislature. Faculty expertise spans many disciplines—chemistry, genetics, microbiology, chemical engineering, horticulture, pest management, biochemistry, plant physiology and sensory science.</p>

			<p>
			Classic early work categorized California’s grape-growing regions and identified appropriate varieties and clones. Subsequent advances refined vineyard practices such as trellising and canopy management. New knowledge of wine characteristics gave winemakers the tools to customize the aroma and taste of premium wines. Sensory evaluation techniques developed here are used throughout the food and beverage industry. More recently, the health benefits of wine components have been documented.
			</p>

			<p>
			Graduates of the viticulture and enology department can be found managing vineyards and crafting award-winning wines throughout California and beyond.
			</p>
		</div>
		<div class="six columns">
			<p>The Department of Viticulture and Enology is renowned for its cutting-edge research and teaching in the science and art of grape growing and winemaking. One of the oldest academic departments at UC Davis, it has provided grape growers and vintners with scientific advances to help California become one of the world’s premier wine-producing regions.</p>
			
			<p>The department was established at the Davis campus upon repeal of Prohibition in 1935, but research into grape growing and winemaking at the University of California began in 1880 at the request of the California legislature. Faculty expertise spans many disciplines—chemistry, genetics, microbiology, chemical engineering, horticulture, pest management, biochemistry, plant physiology and sensory science.</p>

			<p>
			Classic early work categorized California’s grape-growing regions and identified appropriate varieties and clones. Subsequent advances refined vineyard practices such as trellising and canopy management. New knowledge of wine characteristics gave winemakers the tools to customize the aroma and taste of premium wines. Sensory evaluation techniques developed here are used throughout the food and beverage industry. More recently, the health benefits of wine components have been documented.
			</p>

			<p>
			Graduates of the viticulture and enology department can be found managing vineyards and crafting award-winning wines throughout California and beyond.
			</p>
		</div>
	</div>
</section>
