---
title: News - Sustainable Future	
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/news_banner.jpg">
	</div>
		<div class="row">
			<div class="twelve columns">
				<h1>Creating a sustainable future for wineries</h1>
				
			</div>
		</div>
		<div class="row">
			<div class="nine columns">
				
			<p>“The future of the California wine industry hinges on water,” says viticulture and enology professor Roger Boulton. His mission is to show that water use in wine production can be reduced by a whopping 80 percent or more, using the new campus winery as a model.</p>
			<p>It takes a lot of water to grow grapes, but it also takes a lot of water to produce wine from grapes. Most agricultural/food businesses use substantial amounts of water after harvest—water for washing, sorting, cooling, and lots of water for cleaning (including cleaning tanks in the winemaking, brewing, and dairy industries).</p>
			<p>Sodium-based products are widely used in tank-cleaning water, but high sodium levels limit the reuse of the wastewater for irrigation on many soils. “To be sustainable in a world short of water, businesses and individuals will have to use their water more than once,” notes Boulton.</p>
			<p>The new campus research and teaching winery will not use sodium cleaning products, but will adopt green cleaning chemistries and CIP (clean-in-place) technology, practices widely used in the dairy and brewing industries. CIP technology allows for better capture of cleaning solutions, and less water use.</p>
			<p>“It’s possible,” says Boulton, “to reduce water use by 80 percent, or even 90 percent, if it is captured, filtered, and reused. Currently, many wineries would be pleased with a 10-percent reduction in water requirements.”</p>
			<p>Eventual goals for the LEED-certified campus winery include being self-sustainable in both on-site water and energy. One goal is to use solar power to run the winery at peak load—the winery would be completely “off the grid” each day when it is running.</p>
			<div class="pullquote">“To be sustainable in a world short of water, businesses and individuals
			will have to use their water more than once.”</div>
			<p>Another goal is to use rainwater from the adjacent Robert Mondavi Institute buildings in the winery and the brewing and food science laboratory. It would be the first UC building to use rainwater to achieve water sustainability. With storage tanks, enough water from winter rains could be collected from the buildings to wash the winery and the brewing and food science laboratory, and still have enough to help irrigate the vineyard, water landscapes, and flush toilets.</p>
			<p>But it comes at a price, and in this tough budget era, the self-sustainability components will be added in stages. Upon completion, the campus winery will be the world’s first example of a combination of self-sustainable water and energy systems. This has enormous implications for wineries and food-processing plants. As Boulton notes, “sustainability is the future of California.” <br><br>— Ann Filmer</p>

			</div>
			<div class="three columns">
				<img src="/images/boulton_content.jpg" alt="boulton and winery">
				<p class="discreet">Viticulture and enology professor Roger Boulton’s goal is to develop practices to reuse and recycle water discarded during the winemaking process. </p>
			</div>
		
		</div>
		
</section>

