---
title: News - Grand Opening	
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/news_banner.jpg">
	</div>
		<div class="row">
			<div class="twelve columns">
				<h1>Grand Opening</h1>
				<h2>of the Winery, Brewery, and Food Science Facility: January 28, 2011</h2>
			</div>
		</div>
		<div class="row">
			<div class="nine columns">
				<p>The official grand opening of the Teaching and Research Winery and the August A. Busch III Brewing and Food Science Laboratory was held Friday, January 28, at 10 a.m. As the newest addition to the Robert Mondavi Institute for Wine and Food Science, these facilities are housed in the only building on campus that meets the strict environmental standards known as “LEED Platinum.” The building has high thermal efficiency and low energy consumption. It uses rainwater in toilets and landscaping, and includes other “green” features.</p>
				<p><a target="_blank" class="external-link" href="http://www.facebook.com/album.php?aid=332565&amp;id=31489674973">Check out photos from the event on our Facebook page!</a></p>
			</div>
		</div>
		<div class="row">
			<div class="nine columns">
				<h4>Post Grand Opening Celebration</h4>
				<p><strong>When: </strong>Friday,
				January 28, 2011, 12:15pm to 5:00pm<br>
				<strong>Where: </strong>Robert Mondavi Institute for Wine and Food Science</p>
				<ul type="disc"><li><a title="BWF_program_web.pdf" class="internal-link" href="/images/files/BWF_program_web.pdf"><strong>Program [pdf]<br></strong></a></li></ul>
				<ul><li><em>It's
				Not Your Father's V&amp;E - The New Department Mission</em><br> presented by Andy Waterhouse, Professor of Enology,
				Department Chair, Marvin Sands Endowed Chair, Department of Viticulture
				and Enology</li><li><em>Beer
				is Proof God Loves Us</em>
				<br> presented by Charlie Bamforth, Anheuser-Busch Endowed Professor of Malting
				and Brewing Sciences, Department of Food Science and Technology</li><li><em>Cheese
				Terroir - Local is More Than a Zip Code</em>
				<br>presented by Moshe Rosenberg, Professor and Specialist, Dairy Engineering
				and Technology, Department of Food Science and Technology</li><li><em>"Superfood"
				Your Way to a Healthy 2011</em>
				<br>presented by Clare Hasler-Lewis, Executive Director, Robert Mondavi
				Institute</li></ul>
			</div>
		</div>
		
</section>

