---
title: News - Sustainable Winery Building
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/news_banner.jpg">
	</div>
		<div class="row">
			<div class="twelve columns">
				<h1>New Sustainable Winery Building</h1>
				<h2>The Jess S. Jackson Sustainable Winery Building at UC Davis breaks ground on November 3, 2011.</h2>
			</div>
		</div>
		<div class="row">
			<div class="nine columns">
				
<h4>For the love of the land<br></h4>
<div class="pullright"><img src="/images/newwine_content.jpg" alt="">
	<p class="discreet">Barbara Banke and Jess Jackson, champions of environmentally responsible winemaking. </p>
</div>
<p><em>(Article from <a target="_blank" class="external-link" href="http://viewer.zmags.com/publication/89b78978#/89b78978/17">CA&amp;ES Outlook</a>)</em></p>
<p>A very generous $3 Million donation from Jess Jackson and Barbara Banke, the husband-and-wife proprietors of Jackson Family Wines, will make possible a new campus facility for research and demonstration of sustainable winemaking practices. Sadly, Jackson, 81, passed away in April.</p>
<p>The gift was announced in January during the grand opening of the 34,000-square-foot teaching and research winery, brewery, and food-processing complex, part of the Robert Mondavi Institute for Wine and Food Science at UC Davis. The new facility will be named the Jess S. Jackson Sustainable Winery Building and is expected to be completed in 2013.</p>
<p>“Our family is pleased that this gift will advance the study of sustainable viticulture and winemaking,” Banke said. “Good stewardship and responsible development are the future of this industry and the founding principles at Jackson Family Wines. I am proud to say that Jess was deeply moved that this groundbreaking building will carry his name.”</p>
<p>The Jess S. Jackson Sustainable Winery Building will contain the technology needed to maximize the environmental capabilities of the adjacent winery, brewery, and food-processing complex. It will include an automated system to clean barrels, tanks, and fermentors. It will capture spent solutions and reuse 90 percent of the water and cleaning chemistry. The winery also is intended to be exceptionally efficient and self-sustainable in water and energy requirements.</p>
<p>The winery, brewery, and food- processing complex—now bustling with faculty and students—was financed entirely with private dona- tions. A previous gift by Jackson and Banke helped lift its green building certification to LEED Platinum, the highest such designation in the United States and the first winery to be LEED Platinum.</p>
<p>Plans also call for the Jess S. Jackson Sustainable Winery Building to sequester carbon dioxide from the winery’s fermentation system. It will be the first winery to have a zero carbon footprint by capturing all the carbon dioxide it produces.</p>
<p>Jackson and Banke have long supported sustainability, innovation, and philanthropic causes. Their business blossomed from the highly successful Kendall-Jackson Chardonnay to a portfolio of premier estate wineries in California, France, Italy, Australia, and Chile. “Our family culture is built on the time-honored principles of hard work, integrity, and uncompromising desire for quality and the long-term stewardship of the land,” Jackson said.</p>
<p>“Jess and Barbara played a key role in making our new winery a reality,” said CA&amp;ES dean Neal Van Alfen. “We are extremely grateful for their support and look forward to working with the family in creating a fitting tribute to this great, visionary leader—the Jess S. Jackson Sustainable Winery Building.”</p>

			</div>
		</div>
		
</section>

