---
title: News
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/news_banner.jpg">
	</div>
		<div class="row">
			<div class="twelve columns">
				<h1>News</h1>
			</div>
		</div>
		<div class="row">
			<div class="six columns">
			<ul>
				<li>
					<a title="Grand Opening" class="internal-link" href="/content/news/grand-opening">Grand Opening</a><br>The official grand opening of the Teaching and Research Winery and the
					August A. Busch III Brewing and Food Science Laboratory was held Friday,
					January 28, at 10 a.m.
				</li>
				<li>
					
					<a title="Creating a sustainable future for wineries" class="internal-link" href="/content/news/creating-a-sustainable-future-for-wineries">Creating a sustainable future for wineries</a>
					
				</li>
				<li>Wall St. Journal — <em>Oct 14, 2010</em><a target="_blank" class="external-link" href="http://online.wsj.com/article/SB10001424052748703794104575546430039944898.html"><br>Blending Science With Wine<br></a></li><li>Wine Spectator — <em>Dec 31, 2010</em><br><a target="_blank" class="external-link" href="http://www.winespectator.com/magazine/show/id/44099">New Dawn for Winemaking Research</a><a target="_blank" class="external-link" href="http://www.winespectator.com/magazine/show/id/44099">:<br>
				</a><a target="_blank" class="external-link" href="http://www.winespectator.com/magazine/show/id/44099">High-tech green winery at University of California, Davis, promises big dividends</a><a target="_blank" class="external-link" href="http://www.winespectator.com/webfeature/show/id/43917"><br></a></li><li>Wine Spectator — <em>Oct 27, 2010</em><a target="_blank" class="external-link" href="http://www.winespectator.com/webfeature/show/id/43917"><br>America’s Leading Winemaking School Goes Platinum<br>A new, high-tech green winery changes the flavor of education and research at UC Davis</a></li><li>Wines and Vines — <em>April 14, 2010</em><a target="_blank" class="external-link" href="http://www.winesandvines.com/template.cfm?section=news&amp;content=73196"><br>Construction Continues for UC Davis' Showcase Winery</a></li><li>Decanter.com — <em>Oct 13, 2010</em><a target="_blank" class="external-link" href="http://www.decanter.com/news/wine-news/503028/multimillion-dollar-green-winery-at-davis"><br>Multimillion dollar 'green' winery at Davis</a></li><li>San Francisco Chronicle — <em>Feb 4, 2011</em><br><a target="_blank" class="external-link" href="http://chronicle.com/blogs/wiredcampus/new-wine-facility-at-uc-davis-goes-high-tech/29462?sid=at&amp;utm_source=at&amp;utm_medium=en">New Wine Facility at UC Davis Goes High Tech</a></li><li>Sacramento Bee — <em>Dec 1, 2010</em><br><a target="_blank" class="external-link" href="http://blogs.sacbee.com/dining/archives/2010/10/uc-davis-debuts.html">UC Davis debuts $15 million research winery</a></li><li>Harpers Wine and Spirits Trade Review — <em>Oct 6, 2010</em><br><a target="_blank" class="external-link" href="http://www.harpers.co.uk/news/news-headlines/9604-california-winery-sets-new-eco-standards.html">California winery sets new eco standards</a></li><li>EE (Electrical Engineering Times) — <em>Oct 6, 2010</em><br><a target="_blank" class="external-link" href="http://www.eetimes.com/electronics-news/4209382/UC-Davis-unveils-green--wireless-winery-Semiconductor">UC Davis unveils green, wireless winery</a></li><li>Beverage Daily.com — <em>Oct 15, 2010</em><br><a target="_blank" class="external-link" href="http://www.beveragedaily.com/Processing-Packaging/New-winery-and-brewery-aims-to-be-carbon-neutral">New winery and brewery aims to be carbon neutral</a></li><li>Central Valley Business Times — <em>Oct 5, 2010</em><br><a target="_blank" class="external-link" href="http://www.centralvalleybusinesstimes.com/stories/001/?ID=16491">UC Davis claims world's 'greenest' winery</a></li><li>TechEye.net — <em>Oct 14, 2010</em><br><a target="_blank" class="external-link" href="http://www.techeye.net/science/chipmaker-is-on-a-quest-for-the-ultimate-wine">Chipmaker is on a quest for the ultimate wine</a></li>
			</ul>
			</div>
			<div class="six columns"><ul>
				<li><a title="What makes us LEED Platinum" class="internal-link" href="/content/bldg/leed">What makes us LEED Platinum</a><br>Pursuing U.S. Green Building Council's Top Certification</li>
				<li>Earth Techling — <em>Oct 24, 2010</em><br><a target="_blank" class="external-link" href="http://www.earthtechling.com/2010/10/uc-davis-opens-uber-eco-teaching-winery/">UC Davis Opens Uber Eco Teaching Winery</a></li><li>RFiD (Radio Frequency Identification) Journal — <em>Nov 24, 2010</em><br><a target="_blank" class="external-link" href="http://www.rfidjournal.com/article/articleview/8033/1/1/">UC Davis Winery Tracks Fermentation Via RFID Sensors</a></li><li>Western Farm Press — <em>Oct 8, 2010</em><br><a target="_blank" class="external-link" href="http://westernfarmpress.com/grapes/world-s-greenest-winery-launches">World’s 'greenest' winery launches</a></li><li>Riverside Press Enterprise<br>Green Winery, Brewery Going Up at UC Davis</li><li>Food CEO — <em>Oct 6, 2010</em><br><a target="_blank" class="external-link" href="http://foodceo.com/news/2010/10/uc-davis-launches-world%E2%80%99s-%E2%80%98greenest%E2%80%99-winery-brewery-and-foods-facility/">UC Davis launches world’s ‘greenest’ winery, brewery and foods facility</a></li><li>Greeniacs.com — <em>Sept 28, 2010 </em><br><a target="_blank" class="external-link" href="http://www.greeniacs.com/GreeniacsArticles/Green-Winery.html">LEED Certified Winery Set to Open at UC Davis</a></li><li>Solano County Business News — <em>Oct 5, 2010</em><a target="_blank" class="external-link" href="http://solanocountybusinessnews.blogspot.com/2010/10/uc-davis-launches-worlds-greenest.html"><br>UC Davis launches world’s ‘greenest’ winery, brewery and foods facility</a></li><li>Food Processing Technology.com <a target="_blank" class="external-link" href="http://www.foodprocessing-technology.com/projects/new-winery/"><br>New winery, brewery and food science laboratory, University of California, USA</a></li><li>SacMag.com — <em>June 2010</em><a target="_blank" class="external-link" href="http://www.sacmag.com/media/Sacramento-Magazine/June-2010/Making-Wine-Green/"><br>Making wine green</a></li><li>The California Aggie — <em>Oct 25, 2010</em><a target="_blank" class="external-link" href="http://theaggie.org/article/2010/10/25/new-stateoftheart-winery-unveiled"><br>New state-of-the-art winery unveiled</a></li><li>Zimbio — <em>Oct 10, 2010 </em><br><a target="_blank" class="external-link" href="http://www.zimbio.com/Real+Estate/articles/uV9fAa-NBmx/UC+Davis+houses+world+greenest+winery+brewery">UC Davis houses world’s ‘greenest’winery, brewery and foods facility<br></a></li>
			</ul></div>
		</div>
		
</section>
