---
title: Contact
---

<section class="total_content">
	<div class="header_image">
		<img src="/images/rmi_banner.jpg">
	</div>
	<div class="row">
		<div class="twelve columns">
			<h1>Contact Us</h1>
		</div>
	</div>
	<div class="row">
		<div class="six columns">	
			<p>For information or questions regarding the Robert Mondavi Institute, please contact:</p>
			<table>
			<tbody>
			<tr>
			<td><img src="/images/clare_haster.jpg" alt="Clare Hasler"></td>
			<td>
			<p><strong>Clare Hasler</strong><br>Executive Director <br>(530) 754-6349 (office)<br>(530) 754-7080 (fax)<br><a href="mailto:cmhasler@ucdavis.edu">cmhasler@ucdavis.edu</a></p>
			</td>
			</tr>
			<tr>
			<td><br></td>
			<td>
			<p><strong>Kim Bannister</strong><br>Administration / Event Coordinator <br>(530) 752-5171 (direct)<br>(530) 754-6349 (office)<br>(530) 752-4759 (fax)<br><a class="external-link" href="mailto:kbannister@ucdavis.edu">kbannister@ucdavis.edu</a></p>
			</td>
			</tr>
			<tr>
			<td><img class="image-left" src="/images/kathy_barrientes.jpg" alt="Kathy Barrientes"><br></td>
			<td>
			<p><strong>Kathy Barrientes</strong><br>Director, Major Gifts<br>CA&amp;ES Dean's Office<br>(530) 752-1602<br><a href="mailto:ksbarrientes@ucdavis.edu">ksbarrientes@ucdavis.edu</a></p>
			</td>
			</tr>
			<tr>
			<td><img class="image-left" src="/images/melissa_haworth.jpg" alt="Melissa Haworth "></td>
			<td>
			<p><strong>Melissa Haworth </strong><br>Director, Major Gifts <br>CA&amp;ES Dean's Office<br>(530) 979-1440<br><a href="mailto:mdhaworth@ucdavis.edu">mdhaworth@ucdavis.edu</a></p>
			</td>
			</tr>
			<tr>
			<td><img class="image-left" src="/images/michael_thumb.jpg" alt="Michael McCarthy"></td>
			<td>
			<p><strong>Michael McCarthy</strong><br>Chair<br>Department of Food Science and Technology<br>(530) 752-4290<br><a href="mailto:mjmccarthy@ucdavis.edu">mjmccarthy@ucdavis.edu</a></p>
			</td>
			</tr>
			<tr>
			<td><img class="image-left" src="/images/david_thumb.jpg" alt="David Block"></td>
			<td>
			<p><strong>David Block</strong><br>Chair<br>Department of Viticulture and Enology<br>(530) 752-0381<br><a href="mailto:deblock@ucdavis.edu">deblock@ucdavis.edu</a></p>
			</td>
			</tr>
			</tbody>
			</table>
		</div>
		<div class="six columns">
			
<h2>Map &amp; Directions</h2>
<iframe src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=118231746900861693595.000486d30463240d11fb3&amp;ll=38.532221,-121.751175&amp;spn=0.01175,0.018883&amp;z=15&amp;output=embed" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" height="350" width="440"></iframe><br><small>View <a target="_blank" style="text-align: left;" href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=118231746900861693595.000486d30463240d11fb3&amp;ll=38.532221,-121.751175&amp;spn=0.01175,0.018883&amp;z=15&amp;source=embed">Green RMI</a> in a larger map</small>
		</div>
	</div>
</section>
